<nav class="navbar navbar-default navbar-expand-lg ">
  <div class="container-fluid">
    <%= link_to "Shop Now ", root_path, class: 'navbar-brand'%>
    <button style="background-color: #DADADA!important;" class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" >
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="btn">Home</li>
          <li class="btn">About</li>
          <li class="btn"><%=link_to "New Product", new_product_path %></li>
        <% else %>
          <li class="btn"><%=link_to "New Product", new_product_path %></li>
          <li class="btn "><%= link_to "Sign Up" , new_user_registration_path %> </li>
          <li class="btn"><%= link_to "Sign In", new_user_session_path %></li>
        <%end %>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="btn"><%=link_to "Privacy", new_user_registration_path %></li> <br>
              <li class="btn"><%=link_to "Premium", new_user_registration_path  %></li>
              <li><hr class="dropdown-divider"></li>
              <li class="btn"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>